@model IEnumerable<App.Core.QueryModels.AlbumList>
@using App.Core
@using System.Configuration

@{
    ViewBag.Title = "Index";
}

<h4>Album Gallery</h4>
<hr>
<p style="text-align: right;">
    @if (LoginUserInfo.RoleId == 1)
    {
        @Html.ActionLink("Add New", "Create", "Album")
        <span>&nbsp;|&nbsp;</span>
    }

    @Html.ActionLink("View All", "Index/")
</p>
<div class="row">
    @foreach (var x in Model)
    {

        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    @if (!string.IsNullOrEmpty(LoginUserInfo.Name))
                    {
                        if (LoginUserInfo.RoleId != 1)
                        {
                            <a href="#" class="pull-right" style="font-size:small; color:blue;" id="add2Cart" title="@x.AlbumId">
                                <img src="@Url.Content("~/Images/add2cart.png")" title="Add to Cart" />
                            </a>
                        }
                    }
                    <h4>
                        <a href="#">$@x.Price</a>
                    </h4>
                    <img src="@Url.Content("~/Images/placeholder.gif")" style="width:100px; height:75px;" />

                    <p style="padding: 9px;">
                        @Html.ActionLink(x.Title, "Album", new { id = x.AlbumId }, new { @style = "color:green; font-weight:normal;" })
                    </p>
                    <b style="padding: 9px;">Artist: </b><b style="color:rgb(209,117,129); font-weight:normal">@x.Artist </b>
                </div>

            </div>
        </div>

    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".pull-right").click(function () {

            var id = parseInt(this.title, 0);
            var url = '@ConfigurationManager.AppSettings["UrlPath"].ToString()' + "AddToCart/Add/" + id;
            $.get(url, null, function (data) {
                location.reload();
            });
        });
    });
</script>
