@model App.Core.QueryModels.SubmitOrder

@{
    ViewBag.Title = "CheckOut";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="col-md-12">
        <h4>Shipping Information</h4>
        <hr />
        <div class="col-md-4">
            <div class="form-group">
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control input-lg", @placeholder = "Firstname" })
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
            <div class="form-group">
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control input-lg", @placeholder = "Lastname" })
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
            <div class="form-group">
                @Html.TextBoxFor(model => model.Address, new { @class = "form-control input-lg", @placeholder = "Address" })
                @Html.ValidationMessageFor(model => model.Address)
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.TextBoxFor(model => model.City, new { @class = "form-control input-lg", @placeholder = "City" })
                @Html.ValidationMessageFor(model => model.City)
            </div>
            <div class="form-group">
                @Html.TextBoxFor(model => model.State, new { @class = "form-control input-lg", @placeholder = "State" })
                @Html.ValidationMessageFor(model => model.State)
            </div>
            <div class="form-group">
                @Html.TextBoxFor(model => model.PostalCode, new { @class = "form-control input-lg", @placeholder = "Postal Code" })
                @Html.ValidationMessageFor(model => model.PostalCode)
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.TextBoxFor(model => model.Country, new { @class = "form-control input-lg", @placeholder = "Country" })
                @Html.ValidationMessageFor(model => model.Country)
            </div>
            <div class="form-group">
                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control input-lg", @placeholder = "Phone" })
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
            <div class="form-group">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control input-lg", @placeholder = "Email" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-4">
            <button class="btn btn-primary btn-group-sm btn-group" type="submit">Submit Order</button>
        </div>
        <div class="col-md-8"></div>
    </div>
    <div class="col-md-12">
        <hr />
        <h4>Cart Details</h4>
        <table class="table">
            <tr>
                <th>
                    Album
                </th>
                <th>
                    Genre
                </th>
                <th style="text-align:right;">
                    Price
                </th>
                
            </tr>
            @{
    decimal total = 0;
            }
            @foreach (var item in Model.CartDetails)
            {
                total = total + item.Price;
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Album)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genre)
                    </td>
                    <td style="text-align:right;">
                        $ @Html.DisplayFor(modelItem => item.Price)
                    </td>                   
                </tr>
            }

            <tr>
                <th>

                </th>
                <th style="text-align:right;">
                    Total:
                </th>
                <th style="text-align:right;">
                    $ @total
                </th>
                
            </tr>

        </table>
    </div>
}


